<%- include("template/cabecera", {tituloWeb:'Página de inicio'}) %>
<body>
    <h1 class="text-primary">Título de mi sitio index</h1>
    <h2><%= titulo %></h2> <!--Forma de traer una variable desde el JS-->
    
<%- include("template/footer") %>